 body {
     color: #665544;
     background-color: #d4d0c6;
     background-image: url(../assets_2/backdrop.gif);
     font-family: Georgia, "Times New Roman", Times, serif;
     font-size: 90%;
     margin: 0px;
     text-align: center;
     font-style: italic;
 }

 .wrapper {
     width: 1100px;
     margin: 20px auto 20px auto;
     border: 3px solid;
 }

 h2 {
    margin-top: 20px;
     border: 5px solid #665544;
     color: white;
     background-color: #665544;
 }

 .header {
     text-decoration: underline;
 }
 .footer {
    clear: both;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 5px 10px;
    font-weight: bold;

}

.footer p {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 75%;
    text-align: left;
    font-weight: bold;

}

.footer a {
    color: #807c72;
    font-weight: bold;
}

.container_12 {
    margin-left: auto;
    margin-right: auto;
    width: 960px;
    font-weight: bold;

}
a:hover {
    color: white;
    font-weight: bold;

}
 
 p {
     text-align: center;
 }
 .D8 {
    text-align: left;
}

 

.D10 {
    background: silver;
    font-weight: bold;
    font-size: 15px;
}

.D10:hover {
    background: gray;
    text-decoration: none;
}
