body {
    color: black;
    background-color: wheat;
    background-position: center;
    font-family: Georgia, Times, serif;
    line-height: 1.4em;
    margin: 0px;
    font-style: italic;
}

.A1 {
    width: 940px;
    margin: 20px auto 20px auto;
    border: 30px inset #0000FF;
    background-color: #FFAA00;
}

.A2 {
    text-decoration: underline;
    clear: both;
    background-color: rgb(20,52,250);
    padding: 5px 10px;
}
.A3{
    margin-left: 120px;
}
.A4{
    margin-top: -57px;
     text-align: center;
}
 .B1 {
    text-decoration: underline;
}
.footer {
    clear: both;
    background-color: rgb(20,52,250);
    padding: 5px 10px;
}

.footer p {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 75%;
    text-align: left;
}
.footer a {
    color: black;
}
.container_12 {
    margin-left: auto;
    margin-right: auto;
    width: 960px;
}
 
a{
    text-decoration: none;
    font-weight: bolder;
    color:blue;
}
a:hover{
    color: white;
}