body {
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.8;
  background-color: #F5F5F5;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  /* 1rem = 10px, 10px/16 = 62.5% */
}


/* SELECTION TOOL */
::selection {
  background-color: blueviolet;
  color: whitesmoke;
}

/* SCROLL BAR SECTION*/
::-webkit-scrollbar {
  width: 17px;
}

::-webkit-scrollbar-track {
  background-color: whitesmoke;
}

::-webkit-scrollbar-thumb {
  background-color: skyblue;
  border-radius: 1rem;
  border: 0.2rem solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: aqua;
}


/* HEADER SECTION 1 */
.header_1 {
  position: relative;
  background-color: skyblue;
  margin-top: -2rem;
  margin-left: -0.8rem;
  margin-right: -0.8rem;
}

.section_of_options_1 {
  text-decoration: none;
  list-style: none;

  text-transform: uppercase;
}

.options_1 {
  text-decoration: none;
  list-style: none;

  text-transform: uppercase;
}

.home {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  margin-top: 2rem;
  font-size: larger;
  font-weight: 700;
}

.A1 {
  padding-top: 1rem;
}

.home:hover {
  transition: .4s;
  text-decoration: underline;
  color: rgba(0, 0, 0, 0.387);
  fill: #ffffff8f;
}

.shop {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  margin-left: 4rem;
  margin-top: -2.5rem;
  font-size: larger;
  font-weight: 700;
}

.shop:hover {
  transition: .4s;

  text-decoration: underline;
  color: rgba(0, 0, 0, 0.387);
  fill: #ffffff8f;
}

.about {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  margin-left: 9rem;
  margin-top: -2.5rem;
  font-size: larger;
  font-weight: 700;
}

.about:hover {
  transition: .4s;

  text-decoration: underline;
  color: rgba(0, 0, 0, 0.387);
  fill: #ffffff8f;
}

.section_title {
  text-transform: uppercase;
  text-align: center;
  margin-top: -5rem;
  font-size: larger;
  font-weight: 700;
}

.options_2 {
  text-decoration: none;
  list-style: none;
  text-align: right;
}

.contact {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  margin-right: 9rem;
  margin-top: -3.7rem;
  font-size: larger;
  font-weight: 700;
}

.contact:hover {
  transition: .4s;

  text-decoration: underline;
  color: rgba(0, 0, 0, 0.387);
  fill: #ffffff8f;
}

.sign_up {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  margin-right: 5rem;
  margin-top: -2.5rem;
  font-size: larger;
  font-weight: 700;
}

.sign_up:hover {
  transition: .4s;

  text-decoration: underline;
  color: rgba(0, 0, 0, 0.387);
  fill: #ffffff8f;
}

.sign_in {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  margin-top: -2.7rem;
  margin-right: 1rem;
  font-size: larger;
  font-weight: 700;
}

.sign_in:hover {
  transition: .4s;

  text-decoration: underline;

  text-decoration: underline;
  color: rgba(0, 0, 0, 0.387);
  fill: #ffffff8f;
}

/* HEADER SECTION 2 */
.header_2 {
  position: relative;
  background-color: blueviolet;
  margin-top: -1rem;
  margin-left: -0.8rem;
  margin-right: -0.8rem;
}

.Digital_Emporium_logo {
  width: 13%;
  margin-top: 1rem;
}

/* SEARCH*/
.search {
  flex: 0 0 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -5rem;

}

.search__input {
  width: 65rem;
  height: 4rem;
}


.search__button {
  height: 4.5rem;
  border: none;
  margin-left: -4rem;
  background-color: skyblue;
}

.search__icon {
  width: 3rem;
  margin-top: -5.5rem;
}


.search__button:hover {
  background-color: blue;
}

/* OWNER  */
.Owner_name {
  margin-bottom: -2.3rem;
  margin-left: -14rem;
}

.owner_img {
  margin-top: -4rem;
  margin-left: 121rem;
}

.img_photo {
  height: 3.75rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin-left: 5rem;
  margin-top: -5rem;
}

/* HEADING 1   */
.heading1 {
  text-transform: uppercase;
  text-align: center;
  font-size: 2.3rem;
  font-weight: bold;
  margin-top: 6rem;
  background-color: skyblue;
  margin-bottom: -5rem;
}

/* SECTION CONTACT */
.form {
  text-align: center;
  margin-top: 10rem;
}

.Form_container1 {
  margin-bottom: 2rem;
}

.Username_label {
  font-size: medium;
  margin-left: -41rem;
}

.Username_input {
  width: 61rem;
  height: 4rem;
}

.Form_container2 {
  margin-bottom: 2rem;
}

.Password_label {

  font-size: medium;
    margin-left: -54rem;
}

.Password_input {

  width: 61rem;
  height: 4rem;
}

.Form_container3 {
  margin-bottom: 2rem;
}

.Checkbox_lable {
  font-size: medium;
  margin-left: -48rem;
}
.Form_container4{
  margin-bottom: 2rem;
}
.Lost_your_password{
  color: black;
  font-size: medium;
  margin-left: -46rem;
  text-decoration: none;
}

.required{
  color: red;
  font-weight: 700;
  border: 0;
}

/* BTN */
.btn_container {
  text-align: -webkit-center;
}

.btn_heading {
  font-size: 2rem;
  background-color: rgb(193, 238, 255);
  width: 14rem;
  border-radius: 1rem;
  text-transform: uppercase;

}

.btn_heading:hover {
  transition: .4s;
  background-color: skyblue;
  box-shadow: 6px 12px 49px skyblue;
  

}

.btn_link {
  color: black;
  text-decoration: none;
}

/* FOOTER SECTION */
.footer {

  margin-top: 7rem;
  margin-bottom: -1rem;
  width: 135rem;
  margin-left: -1rem;
}

.footer_1 {
  background-color: skyblue;
  padding: 12rem;
  margin-bottom: -2rem;
  height: 17rem;
}

.footer_2 {
  background-color: blueviolet;
  height: 3rem;
}

/* F1 CATEGORIES */
.F1_categories {

  margin-top: -7rem;
  float: left;

  margin-left: -10rem;
  list-style: none;

}

/* HEADING 2 */
.heading2 {
  font-size: large;
  text-transform: uppercase;
}

/* MY ACCOUNTS */
.F1_My_Accounts {
  margin-top: -7rem;

  margin-left: 20rem;
  list-style: none;

}

/* HEADING 3 */

.heading3 {
  font-size: large;
  text-transform: uppercase;

}

/* CONTACT US */
.F1_Contact_Us {

  margin-top: -12rem;
  margin-left: 47rem;

  list-style: none;

}

/* HEADING 4 */

.heading4 {
  font-size: large;
  text-transform: uppercase;

}

/* FOLLOW US */

.F1_Follow_Us {
  margin-top: -12rem;
  margin-left: 85rem;


  list-style: none;

}

/* WHATSAPP IMG */
.whatsapp_img {
  width: 3rem;
}


/* FACEBOOK IMG */

.F1_Facebook {


  margin-left: 1rem;

}

.Facebook_img {
  width: 3rem;
}

/* INSTAGRAM IMG */

.F1_Instagram {


  margin-left: 1rem;

}

.Instagram_img {
  width: 3rem;
}

/* HEADING 5 */

.heading5 {
  font-size: large;
  text-transform: uppercase;

}

/* F1_A */
.F1_a {
  text-decoration: none;
  color: black;
  font-size: medium;
  font-weight: 600;
}

.F1_a:hover {
  transition: .4s;
  border-bottom: 1px solid;
  color: rgba(0, 0, 0, 0.387);
  fill: #ffffff8f;

}

/* COPY RIGHT */
.heading6 {
  margin-left: 23rem;
}



.copy_right {
  color: black;
  text-decoration: none;
}